Repository synalice/perfect-helloworld: changes, and which pre-commit hooks are due for each by the changed paths.
All: json-format, nix-flake-check, nix-fmt

json-format:
  name: Format JSON files with jq
  language: system
  entry: nix develop -c scripts/fmt_json.sh
  pass_filenames: true

nix-flake-check:
  name: Lint flake.nix
  language: system
  entry: nix develop -c nix flake check
  pass_filenames: false

nix-fmt:
  name: Format flake.nix
  language: system
  entry: nix develop -c nix fmt
  pass_filenames: true

Add meson option for docs generation
  Doxyfile.in
  REUSE.toml
  meson.build
  meson.options
Due: none

Fix doxygen docs installation path
  Doxyfile.in
Due: none

Update README
  README.md
Due: none

Add pkg-config support
  Doxyfile.in
  README.md
  meson.build
Due: none

Improve nix derivation build
  flake.nix
  meson.build
Due: nix-flake-check, nix-fmt

Build Nix's $dev and $out outputs in CI
  .github/workflows/ci.yml
  .gitignore
  flake.nix
Due: nix-flake-check, nix-fmt

Format .vscode/extensions.json file
  .vscode/extensions.json
Due: json-format

Simplify CI
  .github/workflows/ci.yml
Due: none

Add some comments for non-obvious packages in the devShell
  flake.nix
Due: nix-flake-check, nix-fmt

Lowercase names of pre-commit hooks
  .pre-commit-config.yaml
Due: none

Improve fmt_json.sh script
  flake.nix
  scripts/fmt_json.sh
Due: nix-flake-check, nix-fmt

Add new line at the end of "Hello, World!"
  include/perfect-helloworld.h
  src/lib/perfect-helloworld.c
Due: none

Set IndentWidth to 4
  .clang-format
Due: none

Add Unity testing framework
  README.md
  flake.nix
  meson.build
  tests/meson.build
  tests/test-perfect-helloworld.c
Due: nix-flake-check, nix-fmt

Add --reconfigure to meson-setup pre-commit hook
  .pre-commit-config.yaml
Due: none

Add option to disable tests
  meson.build
  meson.options
Due: none

Make Unity and pkg-config a dependency of the package
  flake.nix
Due: nix-flake-check, nix-fmt

Make 'docs' option a feature, instead of a bool
  flake.nix
  meson.build
  meson.options
Due: nix-flake-check, nix-fmt

Move docs logic to docs/ folder
  REUSE.toml
  docs/Doxyfile.in
  docs/meson.build
  meson.build
Due: none

Update README.md
  README.md
Due: none

Enable tests in CI and Nix derivation
  .github/workflows/ci.yml
  flake.nix
Due: nix-flake-check, nix-fmt

Run pre-commit hooks for all files in CI
  .github/workflows/ci.yml
  src/cli/main.c
Due: none

Extract common CI logic into a "composite action"
  .github/actions/nix-setup/action.yml
  .github/workflows/ci.yml
Due: none

Move meson hunks into its respective directories
  include/meson.build
  meson.build
  tests/meson.build
Due: none

Add ARM target to GitHub Actions CI
  .github/workflows/ci.yml
Due: none

Extract common CI code into a reusable workflow
  .github/workflows/build.yml
  .github/workflows/ci.yml
Due: none

Move unity-test to runtime dependencies
  flake.nix
Due: nix-flake-check, nix-fmt

Extract perfect-helloworld derivation into a separate Nix file
  flake.nix
  nix/perfect-helloworld.nix
Due: nix-flake-check, nix-fmt

Fix cross build
  .github/workflows/ci.yml
Due: none

Add optional cross-compilation script
  .github/workflows/ci.yml
  README.md
  scripts/cross-compile.sh
Due: none

Rename fmt_json.sh to fmt-json.sh
  .pre-commit-config.yaml
  scripts/fmt-json.sh
Due: none

Use link_with instead of re-compiling the same source files
  meson.build
  tests/meson.build
Due: none

Migrate from C17 to C23
  meson.build
Due: none

Remove empty new line
  meson.build
Due: none

Update copyright year
  .clang-format
  .clang-tidy
  .envrc
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  REUSE.toml
  flake.nix
  include/meson.build
  include/perfect-helloworld.h
  meson.build
  meson.options
  scripts/fmt-json.sh
  src/cli/main.c
  src/cli/meson.build
  src/lib/meson.build
  src/lib/perfect-helloworld.c
  src/meson.build
Due: nix-flake-check, nix-fmt

Run CI on both main and dev
  .github/workflows/ci.yml
Due: none

Move targets to sub-directories
  README.md
  meson.build
  src/cli/meson.build
  src/lib/meson.build
Due: none

Return EXIT_SUCCESS instead of 0
  src/cli/main.c
Due: none

Path conditions:
  json-format: any of: \.json$
  nix-flake-check: any of: \.nix$
  nix-fmt: any of: \.nix$
